BasedOnStyle: LLVM

# ── Includes : do NOT sort or regroup anything ────────────────────────────────
SortIncludes:        Never
IncludeBlocks:       Preserve

# Make the pointer go left
PointerAlignment: Left

ColumnLimit: 100
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
